header{
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-size: contain;
    padding-top:  15px;
}
body{
    position: relative;
    margin: 0;
}
main{
    position: absolute;
    left: 5%;
    right: 5%;
}
.title{
    width: 120px;
    height: auto;
    margin-left: 65px;
}
.sub1, sub2{
    color: gray;
}
.sub2{
font-size: .7rem;
}
.evidenziato{
    background-color: yellow;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: rgb(19, 92, 248);
    color: white;
    text-align: left;
}
tbody{
    background-color: aqua;
}
.cell{
    width: 25%;
}
.row2{
    background-color: white;
}
.img1{
    position: relative;
}
.img2{
position: relative;
}
.link{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}